<h1>Movies</h1>

<ul>
  <% @movies.each do |movie| %>
    <li><%= link_to movie.name, movie_path(movie) %> - <%= movie.actors %> </li>
  <% end %>
</ul>

<%= link_to 'add new movie', new_movie_path, :class => 'btn btn-success'%>
